.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(192, 192, 192);
    border-radius: 52px 0 0 52px;

    span{
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        background-color: rgb(255, 255, 255);
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    };
}

.player-active {
    background-color: orange;
}