.player {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(192, 192, 192);
    border-radius: 0 0 52px 52px;

    span{
        font-size: 14px;
        text-align: center;
    }

    img {
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 8px;
    };
}

.player-active {
    background-color: orange;
}

.scroll-container{
    overflow: auto;
}